NODE_ENV=development
PORT=3000

POSTGRES_DB=obrio_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/obrio_db?schema=public"

RABBITMQ_URL="amqp://admin:admin123@rabbitmq:5672"
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin123

NOTIFICATION_DELAY_MS=5000
EXTERNAL_API_URL=https://webhook.site/put-your-id
LOG_LEVEL=info
